
.album-cover {
    padding: 18px !important;
    border-left: none;
/*    border: 1px solid #eaeaea;*/
}

.album-cover img {
    width: 100%;
    border: 1px solid #c1c1c1;
    
}

.caption {
    text-align: center;
    display: block;
    margin-top: 8px;
    color: #232323;
    letter-spacing: 0.03em;
}